# Odporúčanie

In [1]:
# dependencies
import os
import pandas as pd

from _ import constants
from _.functions import preprocess

In [2]:
# preprocess data if not exists
if not constants.TRAIN_PREPROCESSED.exists():
    df_train = preprocess(constants.TRAIN_DROPPED, constants.TRAIN);
    df_train.to_parquet(constants.TRAIN_PREPROCESSED, index=False)
else:
    df_train = pd.read_parquet(constants.TRAIN_PREPROCESSED)
    
if not constants.TEST_PREPROCESSED.exists():
    df_test = preprocess(constants.TEST_DROPPED, constants.TEST);
    df_test.to_parquet(constants.TEST_PREPROCESSED, index=False)
else:
    df_test = pd.read_parquet(constants.TEST_PREPROCESSED)

In [4]:
df_train

,user_id,session_id,timestamp,action_type,reference,platform,city,current_filters,impressions,prices,device_desktop,device_mobile,device_tablet
0,478,469138,1541037460,9,Newtown,4,26837,None,None,None,0,1,0
1,478,469138,1541037522,4,666856,4,26837,None,None,None,0,1,0
2,478,469138,1541037522,4,666856,4,26837,None,None,None,0,1,0
3,478,469138,1541037532,4,666856,4,26837,None,None,None,0,1,0
4,478,469138,1541037532,4,109038,4,26837,None,None,None,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9379455,563256,262272,1541544490,4,6617798,39,20388,None,None,None,1,0,0
9379456,563256,262272,1541544491,1,6617798,39,20388,[Focus on Distance],"[6617798, 1263420, 9567886, 1161323, 149768, 1...","[58, 96, 55, 75, 90, 60, 233, 104, 150, 145, 3...",1,0,0
9379457,563256,262272,1541544540,1,2712342,39,20388,[Focus on Distance],"[6617798, 1263420, 9567886, 1161323, 149768, 1...","[58, 96, 55, 75, 90, 60, 233, 104, 150, 145, 3...",1,0,0
9379458,563256,262272,1541544967,0,interaction sort button,39,20388,None,None,None,1,0,0
9379459,563256,262272,1541544973,1,1161323,39,20388,[Focus on Distance],"[6617798, 1263420, 9567886, 1161323, 149768, 1...","[58, 96, 55, 75, 90, 60, 233, 104, 150, 145, 3...",1,0,0